/* Styles del navBar */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #212c3b;
  box-sizing: border-box;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;

  align-self: center;
}

.menu-hamb {
  color: #fff;
  cursor: pointer;
  display: none;
}
.main-nav {
  position: sticky;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-evenly;
  background: #023143;
  flex-wrap: wrap;
}
.navlinks {
  display: flex;
  list-style: none;
  line-height: 40px;
  flex-wrap: wrap;
}
.navlinks li {
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #7ebcb9;
  font-size: 18px;
  border-bottom: 3px solid #7ebcb9;
  padding-bottom: 7px;
}

input[type="checkbox"] {
  display: none;
}

/*---------------------------*/
/* Styles Hero Section */
/*---------------------------*/
.elon {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/HeroImage.jpg");


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  width: 100%;
  height: 100vh;
}

/*---------------------------*/
/* Styles del Section  Cards*/
/*---------------------------*/

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  background: #181818;
  flex-wrap: wrap;

}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 400px;
  margin: 15px 25px;
  border: 1px solid rgb(165, 165, 165);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #bebdbd;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.imgComp {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.logo1 {
  width: 48px;
  height: 100%;
}
.content2 {
  background-color: #fff;
}
.content3 {
  background-color: #222;
}
p {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3;
  color: #fff;
  padding: 3px 5px;
}
span {
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #0645ad;
  background: none;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.card:hover {
  cursor: pointer;
  transition: 0.2s ease;
  transform: scale(1.02);
}

/*---------------------------*/
/* Styles del Section  Footer*/
/*---------------------------*/

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #023143;
  padding: 15px 10px;
}
.foot {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
 
}
.foot1{
  color: #8FA9BA;
  line-height: normal;
  word-wrap: break-word;
  text-align: center;
 
}
h4{
  color: #fff;

}

@media (max-width: 920px) {
  .menu-hamb {
    display: block;
    width: 48px;
    height: 48px;
  }
  .navlinks {
    position: fixed;
    top: 70px;
    left: -120%;
    background: #111;
    height: 100vh;
    text-align: center;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  .navlinks li {
    width: 100%;
    margin: 10px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  .main-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
  }
  footer {
    display: flex;
    flex-direction: column;
  
  }
}
